In [42]:
import pandas as pd
import numpy as np

In [43]:
dados_treino = pd.read_csv("/content/dadostreino_limpo.csv")


x = dados_treino[
                 ["util_linhas_inseguras",
                 "idade",
                 "vezes_passou_de_30_59_dias",
                 "razao_debito",
                 "salario_mensal",
                 "numero_linhas_crdto_aberto",
                 "numero_vezes_passou_90_dias",
                 "numero_emprestimos_imobiliarios",
                 "numero_de_vezes_que_passou_60_89_dias",
                 "numero_de_dependentes"]
                 ]

y = dados_treino[["inadimplente"]]

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [47]:
SEED = 5
np.random.seed(SEED)
raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25, stratify = y)

In [48]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(raw_treino_x), len(raw_teste_x)))

# max_depth dita a profundidade da arvore
modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(raw_treino_x, treino_y)
previsoes = modelo.predict(raw_teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 66177 elementos e testaremos com 22059 elementos
A acurácia foi 93.24%
93,24% de acuracia

In [49]:
# predição dadostreino

In [51]:
dados_teste = pd.read_csv("/content/dadosteste_limpo.csv")

In [52]:
x_teste = dados_teste[
                 ["util_linhas_inseguras",
                 "idade",
                 "vezes_passou_de_30_59_dias",
                 "razao_debito",
                 "salario_mensal",
                 "numero_linhas_crdto_aberto",
                 "numero_vezes_passou_90_dias",
                 "numero_emprestimos_imobiliarios",
                 "numero_de_vezes_que_passou_60_89_dias",
                 "numero_de_dependentes"]
                 ]

In [61]:
previsoes = modelo.predict(x_teste)
previsoes

array([0, 0, 0, ..., 0, 0, 0])

In [65]:
dados_teste["inadimplente"] = previsoes

dados_teste.to_csv('dados_teste_inadi_file.csv')

In [63]:
dados_teste

       util_linhas_inseguras  idade  ...  numero_de_dependentes  inadimplente
0                     0.0258     62  ...                      0             0
1                     0.6671     55  ...                      0             0
2                     0.0071     44  ...                      0             0
3                     0.0912     54  ...                      0             0
4                     0.1127     54  ...                      0             0
...                      ...    ...  ...                    ...           ...
32027                 0.0000     68  ...                      0             0
32028                 0.0611     84  ...                      0             0
32029                 0.8177     70  ...                      0             0
32030                 0.1061     64  ...                      0             0
32031                 1.0000     28  ...                      0             0

[32032 rows x 11 columns]